// Color variables
$mzl-red: #F78888;
$mzl-yellow: #F3D250;
$mzl-light-blue: #90CCF4;
$mzl-blue: #5DA2D5;
$mzl-dark-grey: #3E3E3E;
$mzl-grey: #ECECEC;
$mzl-green: #4FC5B6;

html, body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

about {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.about-container {
  margin:10vh 11vh 0 11vh;
  background-color: $mzl-grey;
  height: 80vh;
  overflow-y: hidden;
  font-size:0;
  display: flex;
  .half {
    font-size: 0;
    width:50%;
    display: inline-block;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    &-left {
      background-color: $mzl-yellow;
      .about-blurb {
        font-size: 3vh;
        color: $mzl-dark-grey;
        padding: 2vh;
        display: inline-flex;
        line-height: 4vh;
        text-align: left;
        position: relative;
        width: calc(100% - 4vh);
      }

      .icon-wrapper {
        bottom:0;
        .icon-container {
          display: inline-block;
          width: 20%;
          .icon {
            transition: all 0.08s ease-out;
            font-size:6vh;
          }
          .icon-text {
            transition: color 0.08s ease-out;
            font-size: 2vh;
            display: block;
            font-weight: normal;
            visibility: hidden;
            color: #fff;
          }
        }
        .icon-container:hover {
          color: #fff;
          & .icon {
            transition: all 0.08s ease-in;
            transform: scale(1.25);
          }
          & .icon-text {
            transition: color 0.08s ease-in;
            visibility: visible;
          }
        }
      }
    }
    &-right {
      background-color:$mzl-dark-grey;
      .self-image {
        position: relative;
        width:100%;
        height:100%;
        background-size: cover;
        background-position: 20% 50%;
        background-image: url('/assets/img/walkleysday2.JPG');
        display: block;
        background-repeat: no-repeat;
        filter: grayscale(100%);
      }
    }
    .animation-layer {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}
