<h1>Contact</h1>

<h2>{{ 'contact.greeting' | translate }}</h2>

<p>
    {{ 'contact.details' | translate }}
    <a href="https://github.com/1oginov/Angular-Gulp-Boilerplate"
       target="_blank">https://github.com/1oginov/Angular-Gulp-Boilerplate</a>
</p>

<p>
    <button ng-click="vm.switchLanguage('en')">In English</button>
    <button ng-click="vm.switchLanguage('ru')">По-русски</button>
</p>

<p>
    <button ng-click="vm.showSampleConstant()">{{ 'contact.button' | translate }}</button>
</p>
